doctype
include ../pug/includes/_head.pug

body
    #drawing_container
      div(ng-app='myApp')
        app
        | Loading...
    include ../pug/includes/_scripts.pug
include ../pug/includes/_footer.pug
