.header{
  color: orange;
}

.container{
  width: 500px;
  height: 500px;
  background: cornflowerblue;
  position: absolute;
  top: 50%;
  margin-top: -250px;
  left: 50%;
  margin-left: -250px;
}

.button{
  background: yellow;
  width: 100px;
  height: 50px;
  border: 0;
  margin-left: 15px;
}

.buttonFirst{
  composes: button;
  margin-left: 0;
}
