/*
###########################
###Heavy Usage of SMACCS###
###########################
*/


@import 'imports/utils';
@import 'imports/vars';

@import 'imports/base';
@import 'imports/layout';
@import 'imports/modules';
@import 'imports/state';
@import 'foundation';


body {
  background-color: yellow;
  width: 100%;
  height: 100%;
}

#drawing_container {
  position: absolute;
  margin: auto;
  top: 0 ; right: 0; bottom: 0; left: 0 ;
  width: 500px;
  height: 500px;
}

#canvas{
  display: block;
  margin-top: 100px;
  margin-left: 180px;
}