head
    title  Gulp with Foundation and SASS
    link(href='css/main.css', rel='stylesheet', type='text/css')
    script(src='jquery.js')
    script(src='./bower_components/modernizr/modernizr.js')
    script(src='fastclick/lib/fastclick.js')
    script(src='bower_components/foundation/js/foundation.js')
    script(src='js/app.js')

