div
  h1(class='{{vm.styles.homeHeader}}') You can find my template inside {{ vm.name }}.html
  ul
    li Angular 1.5
    li UI Router
    li Webpack
    li ES 6 / Babel
  input(ng-model='user.name', ng-change='vm.search()')
  div {{ user.name }}
|  Contact GitHub API Training Shop Blog About
