div(class='{{vm.styles.container}}')
  h1(class='{{vm.styles.header}}') You can find my template inside {{ vm.name }}.html
  button(class='{{vm.styles.buttonFirst}}' ng-click='vm.showBlock()')
    | Show
  button(class='{{vm.styles.button}}' ng-click='vm.hideBlock()')
    | Hide
  ul

    li(ng-show="vm.value.show")
      | block is now shown
    li Angular 1.5
    li UI Router
    li Webpack
    li ES 6 / Babel
  input(ng-model='user.name', ng-change='vm.search()')
  div {{ user.name }}
     a(href="/#/about") text
        |  Contact GitHub API Training Shop Blog About
