doctype
include ../jade/includes/_head.jade

body
    #drawing_container
      h1.
        Welcome to the Greastest, Simplest, Prototype ever!!!
        Gulp
      canvas(id ="canvas" width = "150" height = "150")

