doctype
include ../jade/includes/_head.jade

body
    #drawing_container
      h3.
        Welcome to the bestest, Simplest, Prototype ever!!!
        Gulp
      canvas(id ="canvas" width = "150" height = "150")
    include ../jade/includes/_scripts.jade
include ../jade/includes/_footer.jade

