doctype
head
    title  Gulp with Foundation and SASS
    link(href='css/main.css', rel='stylesheet', type='text/css')
    script(src='js/app.js')
body
    #drawing_container
      h1.
        Welcome to the Greatest, Simplest, Prototype ever!!!
        Gulp
      canvas(id ="canvas" width = "150" height = "150")

